{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-page confirmation">
        <div class="header-box">
            <div class="logo">
                <a href="{{ path('main') }}">
                    <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                </a>
            </div>
            <div class="title">
                Vaše objednávka je odeslaná
            </div>
        </div>
        <div class="content">
            <div class="text">
                <div class="title">
                    Děkujeme za Vaší objednávku
                </div>
                <p>
                    V nejbližší možné době na ni mrkneme a ozveme se Vám na Vámi uvedený e-mail nebo telefon.
                </p><br /><br />
                <p>
                    Pěkný den.
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
