{% extends 'base.html.twig' %}
{% block body %}
    <div class="contact-page">
        <div class="main empty">
            <div class="box">
                <div class="row top">
                    <div class="left">
                        <a href="{{ path('main') }}">
                            <img src="/images/Logo_4everin-Logo_4everin_white.svg" alt="logo 4everin"/>
                        </a>
                    </div>
                    <div class="right">
                        {% include 'menu.html.twig' %}
                    </div>
                </div>

                <div class="box-content">
                    <div class="left">
                        <div class="title">
                            Kontakt
                        </div>
                        <div class="subtitle">
                            Kontaktní osoba
                        </div>
                        <div class="text">
                            Mgr. Olga Nováková<br/>
                            <img src="/images/Phone_icon_white-phone_icon_white.svg" alt="Ikona telefnu"/> <a
                                    href="#">+420
                                603 524 942</a> <br/>
                            <img src="/images/Mail_icon_white-mail_icon_white.svg" alt="Ikona emailu"/> <a
                                    href="#">obchod@4everin.cz</a>
                        </div>

                        <div class="subtitle technic-specs">
                            Technické specifikace
                        </div>
                        <div class="text technic-specs">
                            Pavel Novák<br/>
                            <img src="/images/Phone_icon_white-phone_icon_grey.svg" alt="Ikona telefnu"/> <a
                                    href="#">+420
                                736 132 654</a> <br/>
                        </div>

                        <div class="subtitle">
                            Osobní odběr - po tel. domluvě
                        </div>
                        <div class="text">
                            Agentura N+N s.r.o. <br/>
                            <img src="/images/location_outline.svg" alt="Ikona GPS"/> Počaply 61<br/>
                            533 04 Sezemice <br/>
                        </div>

                    </div>
                    <div class="right">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.699007983922!2d15.83606301588535!3d50.05446952369825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470dcdca08dc0731%3A0x8b5f808464806a51!2sPo%C4%8Daply%2061%2C%20533%2004%20Sezemice!5e0!3m2!1scs!2scz!4v1605967016494!5m2!1scs!2scz"
                                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block script %}
        <script>
        </script>
    {% endblock script %}
{% endblock body %}
