<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Baloo|Rubik:400,500,700&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
</head>
<body style="font-family: 'Rubik', sans-serif;">
{% macro renderBool(param) %}
    {% if param  %}
        Ano
    {% else %}
        Ne
    {% endif %}
{% endmacro %}

<p>
    Dobrý den,<br><br>

    děkujeme za vyplnění objednávky.<br><br>

    O následujícím postupu Vás budeme informovat emailem či telefonicky.<br><br>

    S přáním hezkého dne 4everIn.

</p>
<div>
    <table border="0" width="800" cellpadding="0" cellspacing="0" align="left" style="padding-bottom: 30px">
        <tr>
            <td colspan="2">
                <h2>Souhrn objednávky č. {{ order.id }}</h2>
            </td>
        </tr>
        <tr>
            <td width="250">
                <table border="0" width="250" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>Datum</td>
                    </tr>
                    <tr>
                        <td>Cena celkem</td>
                    </tr>
                    <tr>
                        <td>Doprava</td>
                    </tr>
                    <tr>
                        <td>Platba</td>
                    </tr>
                    <tr>
                        <td>Poznámka</td>
                    </tr>
                </table>
            </td>
            <td width="550">
                <table border="0" width="550" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>{{ order.createdAt|date('d.m.Y G:i:s') }}</td>
                    </tr>
                    <tr>
                        <td>{{ order.totalPrice }} Kč</td>
                    </tr>
                    <tr>
                        <td>{{ order.delivery.name }} (+ {{ order.delivery.price }} Kč )
                            {% if order.packeteryBranchId %}
                                <br>
                                {{ order.packeteryBranch }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ order.payment.name }} (+ {{ order.payment.price }} Kč )</td>
                    </tr>
                    <tr>
                        <td>{{ order.note }}</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h2>Produkt</h2>
            </td>
        </tr>
        <tr>
            <td width="250">

                <table border="0" width="250" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>Název</td>
                    </tr>
                    <tr>
                        <td>Počet kusů</td>
                    </tr>
                    <tr>
                        <td>3D</td>
                    </tr>
                    <tr>
                        <td>S textem</td>
                    </tr>
                    {% if order.withText %}
                        <tr>
                            <td>Text</td>
                        </tr>
                        <tr>
                            <td>Font</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Foto</td>
                    </tr>
                </table>

            </td>
            <td width="550">
                <table border="0" width="550" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>{{ order.products.first.name }} {{ order.products.first.size }}</td>
                    </tr>
                    <tr>
                        <td>{{ order.itemsCount }}</td>
                    </tr>
                    <tr>
                        <td>{{ _self.renderBool(order.photo3D) }} {% if order.photo3D %} (+ {{ order.products.first.laser3DPrice }} Kč) {% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ _self.renderBool(order.withText) }}</td>
                    </tr>
                    {% if order.withText %}
                        <tr>
                            <td>{{ order.text }}</td>
                        </tr>
                        <tr>
                            <td>{{ order.font.name }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><a target="_blank" href="https://4everin.cz/soubory/objednavky/{{ order.photo }}">prohlédnout</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Osobní údaje</h2>
            </td>
        </tr>
        <tr>
            <td width="250">
                <table border="0" width="250" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>Jméno a příjmení</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                    </tr>
                    {% if order.client.companyName %}
                        <tr>
                            <td>Firma</td>
                        </tr>
                        <tr>
                            <td>IČO</td>
                        </tr>
                        <tr>
                            <td>DIČ</td>
                        </tr>
                    {% endif %}
                </table>
            </td>
            <td width="550">
                <table border="0" width="550" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>{{ order.client.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ order.client.phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ order.client.email }}</td>
                    </tr>

                    {% if order.client.companyName %}
                        <tr>
                            <td>{{ order.client.companyName }}</td>
                        </tr>
                        <tr>
                            <td>{{ order.client.ein }}</td>
                        </tr>
                        <tr>
                            <td>{{ order.client.vatNumber }}</td>
                        </tr>
                    {% endif %}

                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Doručovací adresa</h2>
            </td>
        </tr>
        <tr>
            <td width="250">
                <table border="0" width="250" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>Ulice a č.p.</td>
                    </tr>
                    <tr>
                        <td>Město</td>
                    </tr>
                    <tr>
                        <td>PSČ</td>
                    </tr>
                </table>
            </td>
            <td width="750">
                <table border="0" width="750" cellpadding="5" cellspacing="0" align="left">
                    <tr>
                        <td>{{ order.client.address.street }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ order.client.address.city }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ order.client.address.postCode }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% if order.client.billingAddress %}
            <tr>
                <td colspan="2">
                    <h2>Fakturační adresa</h2>
                </td>
            </tr>
            <tr>
                <td width="250">
                    <table border="0" width="250" cellpadding="5" cellspacing="0" align="left">
                        <tr>
                            <td>Ulice a č.p.</td>
                        </tr>
                        <tr>
                            <td>Město</td>
                        </tr>
                        <tr>
                            <td>PSČ</td>
                        </tr>
                    </table>
                </td>
                <td width="750">
                    <table border="0" width="750" cellpadding="5" cellspacing="0" align="left">
                        <tr>
                            <td>{{ order.client.billingAddress.street }}</td>
                        </tr>
                        <tr>
                            <td>
                                {{ order.client.billingAddress.city }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ order.client.billingAddress.postCode }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endif %}

    </table>
</div>
</body>
</html>
